example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-header-cell {
    font-size: 16px;    
    font-style: italic;    
    font-weight: 700;
}

