<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="automationDatasource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- TOWER Column -->
    <ng-container matColumnDef="{{displayedColumns[0]}}">
      <mat-header-cell *matHeaderCellDef> {{displayedColumns[0]}} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.TOWER}} </mat-cell>
    </ng-container>

    <!-- APPLICATION Column -->
    <ng-container matColumnDef="{{displayedColumns[1]}}">
      <mat-header-cell *matHeaderCellDef> {{displayedColumns[1]}} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.APPLICATION}} </mat-cell>
    </ng-container>

    <!-- TITLE Column -->
    <ng-container matColumnDef="{{displayedColumns[2]}}">
      <mat-header-cell *matHeaderCellDef> {{displayedColumns[2]}} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.TITLE}} </mat-cell>
    </ng-container>

    <!-- INITIATIVE Column -->
    <ng-container matColumnDef="{{displayedColumns[3]}}">
      <mat-header-cell *matHeaderCellDef> {{displayedColumns[3]}} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.INITIATIVE}} </mat-cell>
    </ng-container>

    <!-- TOOL Column -->
    <ng-container matColumnDef="{{displayedColumns[4]}}">
      <mat-header-cell *matHeaderCellDef> {{displayedColumns[4]}} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.TOOL}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
