.filterCriteria
{
    border: black 2px solid;
    background-color: aliceblue;
    height: 60px;
}
.formWrapper{
    margin: 200px 200px 2000px 200px;
    font-size: 16px;
}

.dashboardpanel
{
    margin:2px 2px;
    padding:2px;
    background: linear-gradient(#e9e9ed, #eef0f5);
    border: 2px solid rgb(28, 50, 107);
    border-radius: 5px;
    min-height: 300px;
}

.graphWrapper{
    max-height: 350px;
}

.dashboardheader
{
    text-align: center;
    font-size: 22px;
    font-style: italic;
}