<div class="container" style="padding:20px">
    <!-- <mat-card class="formWrapper"> -->
  <div class="row graphWrapper">
    <div class="col-md-5 dashboardpanel" id="Towerdata">      
      <ngx-charts-advanced-pie-chart *ngIf="single && single.length > 0" [scheme]="colorScheme" [results]="single" [gradient]="gradient">
      </ngx-charts-advanced-pie-chart>
      <div class="dashboardheader">
          Tower Wise View
        </div>
    </div>
    <div class="col-md-5 dashboardpanel" id="StatusData">      
      <ngx-charts-advanced-pie-chart  *ngIf="multi && multi.length > 0" [scheme]="statColorcheme" [results]="multi" [gradient]="gradient">
      </ngx-charts-advanced-pie-chart>
      <div class="dashboardheader">
          Innovation Status
        </div>
    </div>
  </div>  
  <div class="row graphWrapper">
    <div class="col-md-5 dashboardpanel" id="TechData">      
      <ngx-charts-advanced-pie-chart  *ngIf="tech && tech.length > 0" [scheme]="TechColorcheme" [results]="tech" [gradient]="gradient">
      </ngx-charts-advanced-pie-chart>
      <div class="dashboardheader">
          Technology
       </div>
    </div>
    <div class="col-md-5 dashboardpanel" id="BenefitArea" >
        <ngx-charts-advanced-pie-chart  *ngIf="finance && finance.length > 0" [scheme]="TechColorcheme" [results]="finance" [gradient]="gradient">
          </ngx-charts-advanced-pie-chart>
        <div class="dashboardheader">
          Quarter Wise Hours
        </div>
    </div>
  </div>
</div>

