<div class="col-md-6 mtsize ">

          <form class="formcls" [formGroup]="PeopleContributionForm" (ngSubmit)="onupdateTrainingDetails()">  
              <mat-horizontal-stepper formArrayName="formArray" linear>
         <mat-step class="formcls" formGroupName="0" [stepControl]="formArray.get([0])">
            <ng-template matStepLabel>Training Info</ng-template>
             <mat-form-field class="example-full-width">
                 <input matInput #title placeholder="Course Name"  minLength="3" disabled=true [value]="trainingData.TrainingName" required formControlName="TitleControl">
                 <mat-error *ngIf="PeopleContributionForm.hasError('minLength')">
                  <p>Title should be minimum of 10</p>
                  </mat-error>
                 </mat-form-field >
                 <mat-form-field class="example-full-width">
                 <textarea matInput #message placeholder="Course Description" maxlength="256" [disabled]="!cntrlenable" [value]="trainingData.TrainingDescription" required formControlName="Descriptioncntrl"></textarea>
                 <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                    <textarea matInput #prerequisite placeholder="Prerequisite" maxlength="150" [disabled]="!cntrlenable" [value]="trainingData.Prerequisite"  formControlName="Prerequisitecntrl"></textarea>
                    <mat-hint align="end">{{message.value.length}} / 150</mat-hint>
                     </mat-form-field>
                  <mat-form-field class="example-full-width">
                    <mat-select placeholder="SkillType" [disabled]="!cntrlenable" [(ngModel)]="trainingData.TrainingSkillType" formControlName="trngSkillType">
                      <mat-option value="CDCC2">CDC2</mat-option>
                      <mat-option value="NewIT">New IT</mat-option>
                     <mat-option value="Domain">Domain</mat-option>
                     <mat-option value="Technical">Technical</mat-option>
                     <mat-option value="SoftSkill">SoftSkill</mat-option>
                    </mat-select>
                  </mat-form-field>
                  
                  <mat-form-field class="example-full-width">
                    <mat-select placeholder="TrainingType" [disabled]="!cntrlenable" [(ngModel)]="trainingData.TrainingType" formControlName="trngType">
                      <mat-option value="LKM">LKM</mat-option>
                      <mat-option value="Project">Project</mat-option>
                      <mat-option value="External">External</mat-option> 
                    </mat-select>
                  </mat-form-field>

                      
         </mat-step> 
         <mat-step class="formcls" formGroupName="1" [stepControl]="formArray.get([1])"> 
             <ng-template matStepLabel>Training Schedule</ng-template>
             

             <mat-form-field class="example-full-width">
               <textarea matInput #Audience placeholder="Target Audience" [disabled]="!cntrlenable" [value]="trainingData.TargetAudience"   formControlName="TargetAudience"></textarea>
             </mat-form-field>
             
    
   <mat-form-field class="example-full-width">
     <mat-select placeholder="Location" [disabled]="!cntrlenable"  [(ngModel)]="trainingData.Location" formControlName="trngLocation">
       <mat-option value="CDCC2">CDC2</mat-option>
     </mat-select>
   </mat-form-field>
   <mat-form-field class="example-full-width">
    <mat-select placeholder="TrainingMode" [disabled]="!cntrlenable"  [(ngModel)]="trainingData.TrainingMode" formControlName="trngMode">
      <mat-option value="Lync">Lync</mat-option>
         <mat-option value="ClassRoom">ClassRoom</mat-option>
         <mat-option value="External">External</mat-option> 
    </mat-select>
  </mat-form-field>
   <mat-form-field class="date_wrap">
     <input matInput  [matDatepickerFilter]="myFilter" [matDatepicker]="pickerTo" placeholder="StartDate" [disabled]="!cntrlenable" [(ngModel)]="trainingData.TrainingStartDate" required formControlName="TrainingStartdate">
     <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
     <mat-datepicker #pickerTo></mat-datepicker>
     </mat-form-field> 
     <mat-form-field class="date_wrap" >
       <input matInput  [matDatepickerFilter]="myFilter" [matDatepicker]="pickerFrom" placeholder="EndDate" [disabled]="!cntrlenable" [(ngModel)]="trainingData.TrainingEndDate" required formControlName="trainingEnddate">
     <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
     <mat-datepicker   #pickerFrom></mat-datepicker>
     </mat-form-field>
                             
             <mat-form-field class="example-full-width">
      
                 <input type="textArea" placeholder="Comments" disabled=true [disabled]="!cntrlenable"  [(ngModel)]="trainingData.TrainingComments" required matInput formControlName="Autocomments">
                 
               </mat-form-field>
                               
               
             </mat-step> 
           
           </mat-horizontal-stepper>

         <button  *ngIf="isAdmin||createUser" [disabled]="!PeopleContributionForm.dirty" class="submit" type="submit" formcontrolName="submit" [disabled]="!PeopleContributionForm.valid" mat-raised-button color="warn">SUBMIT</button>
 </form>
      
    
    
    </div>