.formWrapper{
    margin: 150px 0px 0px 0px;
    font-size: 16px;
  
}

.example-full-width {
    width: 100%;
  }
  .date_wrap {
    width: 49%;
  }
 .formcls{
     width: 400px;
     height: 300px;
 }
  .submit{
      margin-top: 10px;
  }
  
  .mtsize{
      width: 400;
      height: 300;
  }