<mat-card class="wrapper">
  <mat-card class="col-md-5 col-sm-5 chatCard">      
    <ngx-charts-advanced-pie-chart [scheme]="colorScheme" [results]="single" (select)="onSelect($event)">
    </ngx-charts-advanced-pie-chart>
  </mat-card>
  <mat-card class="col-md-5 col-sm-5 chatCard">
      <ngx-charts-tree-map  [scheme]="colorScheme" [results]="single2" (select)= "onSelect($event)">
      </ngx-charts-tree-map>
  </mat-card>
</mat-card>
