.chatCard{
    height:300px;
	display:flex;
	justify-content:center;
    align-items:center;
    margin:  5px 5px 5px 0;
}

.wrapper{
    min-height: 100vh;
}


.ngx-charts{
    position: inherit;
}

