<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="originateDatasource">
    <!-- TOWER Column -->
    <ng-container matColumnDef="{{displayedColumns[0]}}">
        <mat-header-cell *matHeaderCellDef> {{displayedColumns[0]}} </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.tower}} </mat-cell>
      </ng-container>

    <!-- CATEGORY Column -->
    <ng-container matColumnDef="{{displayedColumns[1]}}">
      <mat-header-cell *matHeaderCellDef> {{displayedColumns[1]}} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.category}} </mat-cell>
    </ng-container>

    <!-- STATUS Column -->
    <ng-container matColumnDef="{{displayedColumns[2]}}">
      <mat-header-cell *matHeaderCellDef> {{displayedColumns[2]}} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
    </ng-container>

    <!-- TITLE Column -->
    <ng-container matColumnDef="{{displayedColumns[3]}}">
      <mat-header-cell *matHeaderCellDef> {{displayedColumns[3]}} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
    </ng-container>

    <!-- DESCRIPTION Column -->
    <ng-container matColumnDef="{{displayedColumns[4]}}">
      <mat-header-cell *matHeaderCellDef> {{displayedColumns[4]}} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
    </ng-container>

    <!-- STAKEHOLDER Column -->
    <ng-container matColumnDef="{{displayedColumns[5]}}">
      <mat-header-cell *matHeaderCellDef> {{displayedColumns[5]}} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.stakeholder}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
