<div class="graphWrapper">
    <div class="col-md-5 col-sm-5 chatCard">      
      <ngx-charts-advanced-pie-chart *ngIf="single && single.length > 0" [scheme]="colorScheme" [results]="single" [gradient]="gradient">
      </ngx-charts-advanced-pie-chart>
    </div>
    <div class="col-md-5 col-sm-5 chatCard">      
        <ngx-charts-advanced-pie-chart  *ngIf="multi && multi.length > 0" [scheme]="statColorcheme" [results]="multi" [gradient]="gradient">
        </ngx-charts-advanced-pie-chart>
    </div>
     <!-- <div class="col-md-5 col-sm-5 chatCard">      
        <ngx-charts-bar-vertical-2d
        [scheme]="colorScheme"
        [results]="multi"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        (select)="onSelect($event)">
      </ngx-charts-bar-vertical-2d>
    </div>
    <div class="col-md-5 col-sm-5 chatCard">      
        <ngx-charts-area-chart
          [scheme]="colorScheme"
          [results]="multi"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [autoScale]="autoScale"
          (select)="onSelect($event)">
    </ngx-charts-area-chart>
    </div> -->
    <button class="excelbutton"  (click)="exportDataAsExcel()" mat-raised-button color="warn">Export As Excel</button>
</div>
  