.chatCard{
    height:300px;
	display:flex;
	justify-content:center;
    align-items:center;
    margin:  5px 5px 5px 0;
}

.ngx-charts{
    position: inherit;
}

.graphWrapper{
    max-height: 300px;
}

.excelbutton{
    margin: 10px;
}
