<mat-nav-list>
  <a mat-list-item class="sidenav-link" [routerLink]="['/addIdeas']" [routerLinkActive]="['active-route']">
    <mat-icon mat-list-icon>compare_arrows</mat-icon>
    <span class="title" mat-line>Add Ideas</span>
  </a>
  <a mat-list-item class="sidenav-link" [routerLink]="['/trending']" [routerLinkActive]="['active-route']">
    <mat-icon mat-list-icon>trending_up</mat-icon>
    <span class="title" mat-line>Trending</span>
  </a>
</mat-nav-list>
