
.toolBar {
  background: darkslategrey;
  top: 0;
  position: fixed;
  z-index: 999;
}

mat-toolbar-row {
  justify-content: space-between;
}

.example-spacer {
  flex: 1 1 auto;
}

.toolbar-menu {
  color: black;
}

.logo {
  height: 26px;
  margin: 0 4px 5px 15px;
  vertical-align: middle;
}

.title {
  vertical-align: middle;
  margin: 0 4px 3px 10px;
  color: white;
}



.mainContent {
  margin-top: 64px;
}

.mainText {
  color: white;
  position: relative;
  font-weight: bold;
  top: 40%;
}

.formCard {
  top: 20%;
}

.titleText {
  color: aqua;
  font-size: x-large;
  padding: 11px;
  border: 1px solid;
}

.description {
  margin-top: 30px;
  font-style: italic;
}
