<div>
  <mat-toolbar color="mat-elevation-z*" class="toolBar">
    <mat-toolbar-row>
      <img  class="logo" src="https://media.cdn.gradconnection.com/uploads/01dd7e6c-9977-4abf-b57c-fab080cf7518-image.png" alt="logo">
      <span class="title"><span>Accenture</span></span>
      <span class="example-spacer"></span>
      <button class="toolbar-menu" mat-icon-button [mat-menu-trigger-for]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-toolbar-row>
    <mat-menu x-position="before" #menu="matMenu">
      <button mat-menu-item>Option 1</button>
      <button mat-menu-item>Option 2</button>
    </mat-menu>
  </mat-toolbar>
</div>
