body {
    margin: 0;
    font-family: Roboto, sans-serif;
  }
  
  .toolBar{
    background: white;
    margin-bottom: 2px;
  }
  
  mat-toolbar-row {
    justify-content: space-between;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

  .toolbar-menu{
    color: black;
  }

  .logo{
    height: 26px;
    margin: 0 4px 3px 15px;
    vertical-align: middle;
  }

  .title{
    vertical-align: middle;
    margin: 0 4px 3px 10px;
    color: black;
  }
  
