<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="automationDatasource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
    <!-- SL Column -->
    <ng-container matColumnDef="{{displayedColumns[0]}}">
      <mat-header-cell *matHeaderCellDef> {{displayedColumns[0]}} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.No}} </mat-cell>
    </ng-container>

    <!-- COMMENT Column -->
    <ng-container matColumnDef="{{displayedColumns[1]}}">
      <mat-header-cell *matHeaderCellDef> {{displayedColumns[1]}} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.COMMENT}} </mat-cell>
    </ng-container>

    <!-- USER Column -->
    <ng-container matColumnDef="{{displayedColumns[2]}}">
      <mat-header-cell *matHeaderCellDef> {{displayedColumns[2]}} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.USER}} </mat-cell>
    </ng-container>

    <!-- DATE Column -->
    <ng-container matColumnDef="{{displayedColumns[3]}}">
      <mat-header-cell *matHeaderCellDef> {{displayedColumns[3]}} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.DATE}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
