<div class="col-md-12 slider">
    <ngx-carousel [inputs]="carouselBanner" [moveToSlide]="1" (onMove)="onmoveFn($event)">
        <ngx-item NgxCarouselItem class="bannerStyle">
          <img src="https://www.accenture.com//www.accenture.com/t20171117T101233Z__w__/in-en/_acnmedia/Accenture/Conversion-Assets/DotCom/Images/About-Accenture/Global/23/Accenture-About-New-Marquee-2.png" alt="">
        </ngx-item>
        <ngx-item NgxCarouselItem class="bannerStyle">
            <img  src="https://www.accenture.com//www.accenture.com/t20171117T101233Z__w__/in-en/_acnmedia/Accenture/Conversion-Assets/DotCom/Images/About-Accenture/Global/23/Accenture-About-New-Marquee-2.png" alt="">
        </ngx-item>
        <ngx-item NgxCarouselItem class="bannerStyle">
            <img  src="https://www.accenture.com//www.accenture.com/t20171117T101233Z__w__/in-en/_acnmedia/Accenture/Conversion-Assets/DotCom/Images/About-Accenture/Global/23/Accenture-About-New-Marquee-2.png" alt="">
        </ngx-item>
        <button NgxCarouselPrev class='leftRs'>&lt;</button>
        <button NgxCarouselNext class='rightRs'>&gt;</button>
      </ngx-carousel>
      

</div>