.bannerStyle img {
        background-color: rgb(207, 23, 23);
        min-height: 100px;
        text-align: center;
        line-height: 100px;
    }
    .leftRs {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        width: 50px;
        height: 50px;
        box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
        border-radius: 999px;
        left: 0;
    }
 
    .rightRs {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        width: 50px;
        height: 50px;
        box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
        border-radius: 999px;
        right: 0;
    }

    img {
        height: 306px;
        vertical-align: middle;
    }

    .slider{
        margin-top: 70px;
        position: relative;
    }

