<div class="wrapper" style="padding-top:4px">
  <form [formGroup]="searchAutomationForm" (ngSubmit)="onSearchSubmit()">
  <div class='searchbox_1'>
    <div >
        <mat-form-field class="example-full-width">
        <mat-select placeholder="Search By" (ngModelChange)="OnSearchByChange($event)" formControlName="searchby">
            <mat-option *ngFor="let searchparam of searchparameters" [value]="searchparam.name">
              {{searchparam.value}}
            </mat-option>
        </mat-select>
        </mat-form-field>
        <input type="search" class="search_1" placeholder="Search" formControlName="searchField"/>   
        <button class="glyphicon glyphicon-search submit_1" mat-button></button> 
        <span class="searchCompletion">Completion ETC : </span><mat-slider class="example-margin" (change)="OnTimeByChange($event)" thumbLabel [max]="6"
        [min]="0"   [step]="1"></mat-slider> (months)
        <span class="searchCompletion">Completed Automation Last: </span><mat-slider class="example-margin" (change)="OnTimeByCompletedChange($event)" thumbLabel [max]="6"
        [min]="0"   [step]="1"></mat-slider> (months)
    </div>
  </div>
  </form>
  <div *ngFor="let automation of automationlist; let i = index" class="col-md-4">
    <mat-card class="topBuffer">
      <mat-card-header>
          <!-- <div style="position:absolute;top:0;left:100;right:0;bottom:0;" [ngClass]="{'Completed' : automation.STATUS==='Completed','Pending Approval' : automation.STATUS==='Pending Approval', 'Cancelled' : automation.STATUS==='Cancelled','New' : automation.STATUS==='New'}">{{automation.STATUS}} </div> -->
          <!-- <img style="position:absolute;top:0;left:100;right:0;bottom:0;width:12%;" [src]="{{'../../assets/new.png':automation.STATUS==='New','../../assets/Pending-Approval1.png':automation.STATUS==='Pending Approval','../../assets/completed.png':automation.STATUS==='Completed'}}"> -->
            <img style="position:absolute;top:2%;left:91%;right:0;bottom:100;width:8%;" [src]="getimgsrc(automation.STATUS)">
        <div mat-card-avatar class="example-header-image"></div>  
        <mat-card-title>
            {{automation.automationTitle | slice:0:50}} 
        </mat-card-title> 
        <mat-card-title>
           Application: {{automation.automationApplication}} 
        </mat-card-title> 
        <mat-card-title>
          Tower    : {{automation.automationTower}}
        </mat-card-title>   
      </mat-card-header> 
      <mat-card-actions>
        <button  (click)="onAutomationClick(i)" mat-button>show details</button>
        <!-- <button *ngIf="isAdmin" (click)="onAutomationClick(i)" mat-button>Edit</button> -->
      </mat-card-actions>
    </mat-card>
  </div>
</div>