<div class="wrapper" style="padding-top:4px">
  <form [formGroup]="searchOriginateForm" (ngSubmit)="onSearchSubmit()">
  <div class='searchbox_1'>
    <div>
        <input type="search" class="search_1" placeholder="Search" formControlName="searchField"/>   
        <button class="glyphicon glyphicon-search submit_1" mat-button></button> 
    </div>
  </div>
  </form>
  <div *ngFor="let originate of originateList; let i = index" class="col-md-4">
    <mat-card class="topBuffer">
      <mat-card-header>
          <img style="position:absolute;top:2%;left:91%;right:0;bottom:100;width:8%;" 
          [src]="getimgsrc(originate.OriginateStatusType)">
        <div mat-card-avatar class="example-header-image"></div>  
        <mat-card-title>
            {{originate.OriginateTitle | slice:0:50}} 
        </mat-card-title> 
        <mat-card-title class="mat-card-desc">
          Category   : {{originate.OriginateCategoryType}} 
        </mat-card-title> 
        <mat-card-title class="mat-card-desc">
          Tower       : {{originate.OriginateTower}}
        </mat-card-title>
        <mat-card-title class="mat-card-desc">
          Accenture POC : {{originate.OriginateACNStakeholder}}
        </mat-card-title>
      </mat-card-header> 
      <mat-card-actions>
        <button  (click)="onOriginateClick(i)" mat-button>Show details</button>
        <button  (click)="onOriginatComments(i)" mat-button>Show Comments</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>