          .dateselector{
            width:1000px;
            height:1000px;
            padding:5px;
            border-radius:6px;
            border:none;
            color:#0F0D0D;;
            font-weight:bold;
            text-align: center;
            vertical-align: middle;
            background-color:#E2EFF7;
            -webkit-box-shadow:
        0 -2px 2px 0 rgba(199, 199, 199, 0.55),
        0 1px 1px 0 #fff,
        0 2px 2px 1px #fafafa,
        0 2px 4px 0 #b2b2b2 inset,
        0 -1px 1px 0 #f2f2f2 inset,
        0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
        -moz-box-shadow:
        0 -2px 2px 0 rgba(199, 199, 199, 0.55),
        0 1px 1px 0 #fff,
        0 2px 2px 1px #fafafa,
        0 2px 4px 0 #b2b2b2 inset,
        0 -1px 1px 0 #f2f2f2 inset,
        0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
        box-shadow:
        0 -2px 2px 0 rgba(199, 199, 199, 0.55),
        0 1px 1px 0 #fff,
        0 2px 2px 1px #fafafa,
        0 2px 4px 0 #b2b2b2 inset,
        0 -1px 1px 0 #f2f2f2 inset,
        0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
            }
    .search{
        width:160px;
        height:44px;
        padding:10px;
        min-width: 0px;
        margin: 30px 30px 30px 30px;
        border-radius:6px;
        border:none;
        color:#0F0D0D;;
        font-weight:bold;
        background-color:#E2EFF7;
        -webkit-box-shadow:
    0 -2px 2px 0 rgba(199, 199, 199, 0.55),
    0 1px 1px 0 #fff,
    0 2px 2px 1px #fafafa,
    0 2px 4px 0 #b2b2b2 inset,
    0 -1px 1px 0 #f2f2f2 inset,
    0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
    -moz-box-shadow:
    0 -2px 2px 0 rgba(199, 199, 199, 0.55),
    0 1px 1px 0 #fff,
    0 2px 2px 1px #fafafa,
    0 2px 4px 0 #b2b2b2 inset,
    0 -1px 1px 0 #f2f2f2 inset,
    0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
    box-shadow:
    0 -2px 2px 0 rgba(199, 199, 199, 0.55),
    0 1px 1px 0 #fff,
    0 2px 2px 1px #fafafa,
    0 2px 4px 0 #b2b2b2 inset,
    0 -1px 1px 0 #f2f2f2 inset,
    0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
        }
        .submit_1{
            width:35px;
            height:35px;
            min-width: 15px;
            border:none;
            cursor:pointer;
            background-color: #609ea0
            }
            .search_2{
                background-color: #609ea0;
                width:120px;
    margin: 50px 30px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    border-radius:6px;
    font-style: Bold;
    font-size: 15px;

            }

            .dateselect{
                width:150px;
                height:45px;
                padding:5px;
                border-radius:6px;
                margin: 39px -40px 30px 30px;
                text-align: justify;
                border:none;
                color:#0F0D0D;;
                font-weight:bold;
                background-color:#E2EFF7;
                -webkit-box-shadow:
            0 -2px 2px 0 rgba(199, 199, 199, 0.55),
            0 1px 1px 0 #fff,
            0 2px 2px 1px #fafafa,
            0 2px 4px 0 #b2b2b2 inset,
            0 -1px 1px 0 #f2f2f2 inset,
            0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
            -moz-box-shadow:
            0 -2px 2px 0 rgba(199, 199, 199, 0.55),
            0 1px 1px 0 #fff,
            0 2px 2px 1px #fafafa,
            0 2px 4px 0 #b2b2b2 inset,
            0 -1px 1px 0 #f2f2f2 inset,
            0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
            box-shadow:
            0 -2px 2px 0 rgba(199, 199, 199, 0.55),
            0 1px 1px 0 #fff,
            0 2px 2px 1px #fafafa,
            0 2px 4px 0 #b2b2b2 inset,
            0 -1px 1px 0 #f2f2f2 inset,
            0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
                }
                .check{
                    width: 100px

                }
                .showall{
                    width:150px;
                    height:45px;
                    padding:5px;
                    border-radius:6px;
                    margin: 30px 30px 30px 30px;
                    border:none;
                    color:#0F0D0D;;
                    font-weight:bold;
                    background-color:#E2EFF7;
                    -webkit-box-shadow:
                0 -2px 2px 0 rgba(199, 199, 199, 0.55),
                0 1px 1px 0 #fff,
                0 2px 2px 1px #fafafa,
                0 2px 4px 0 #b2b2b2 inset,
                0 -1px 1px 0 #f2f2f2 inset,
                0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
                -moz-box-shadow:
                0 -2px 2px 0 rgba(199, 199, 199, 0.55),
                0 1px 1px 0 #fff,
                0 2px 2px 1px #fafafa,
                0 2px 4px 0 #b2b2b2 inset,
                0 -1px 1px 0 #f2f2f2 inset,
                0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
                box-shadow:
                0 -2px 2px 0 rgba(199, 199, 199, 0.55),
                0 1px 1px 0 #fff,
                0 2px 2px 1px #fafafa,
                0 2px 4px 0 #b2b2b2 inset,
                0 -1px 1px 0 #f2f2f2 inset,
                0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
                    }

                .SearchFont{
                    color: black;
                    font-weight:bolder;
                    font-family: Arial, Helvetica, sans-serif;
                    align-content: center;
                    vertical-align: center;
                }
                .topBuffer{
                  color: black;  
                   background: cadetblue;
                   border-radius:4px;                 
                                         
                }
                
                .mat-card-subtitle{
                    margin-top: 1px;
                }
                               
                .training{                    
                    border:groove;
                    color:black;
                    flex:1;
                    border-radius:4px;
                    padding-top: 10px;
                    padding-bottom: 5px;
                    padding-right: 10px;
                    margin-top: -4px;                                
                      }
                      .mat-card-title{
                          font-size: 17px;
                          font-weight: bold;
                          margin-bottom: 35px;
                         
                      }
                      
                .cardclass{
                    text-align:center;
                    font-weight: bolder;
                    font-size: 50;
                    font-family: Arial, Helvetica, sans-serif;
                         margin-left: -9px; 
                         margin-top: 8px;            
                         color:rgb(6, 58, 58); 
                    width: 175px;
                    
                }
                .subtitle{
                    color:rgb(6, 58, 58);
                    font-weight: 700;
                    margin-top: 5px;
                    margin-left: -45px;
                    padding-left: -5px;
                }
                .example-header-image {
                    background-image: url('https://www.accenture.com/us-en/_acnmedia/Accenture/next-gen-4/oracle-technology-vision-2017/img/Accenture-Oracle-Tech-Vision-2017-Lockup.png');
                    background-size: cover;
                    background-position: left;
                    margin-left: 25px;
                    padding-left: 50px;
                  }
                .buttoncls{
                    align-content: right;
                    font-weight: bolder;
                    color: rgb(6, 58, 58);
                    text-decoration: underline;
                    
                    
                    
                    
                }
                .my-icon-button {
                    padding: 7px !important;
                    width: 100px;
                    height: 50px;
                    line-height: normal;
                  }
                  .mtselect{
                    color:#0F0D0D;
                    border-radius:4px;
                    border:none;
                    color:#0F0D0D;;
                    font-weight:bold;
                    background-color:#E2EFF7;
                  }
                  [hidden] { display: none !important;}