
<div class="col-md-12 wrapper">
  <form [formGroup]="PeopleSearchForm"> 
        <input class="dateselect"   matInput [matDatepicker]="pickerTo"  [matDatepickerFilter]="myFilter" placeholder="Select Date" (ngModelChange)="onDateChange($event)" required formControlName="searchField">
        <mat-datepicker  #pickerTo></mat-datepicker>
        <mat-datepicker-toggle matSuffix [for]="pickerTo">
        </mat-datepicker-toggle>
      <mat-select class="search"  placeholder="Select Mode" (ngModelChange)="onModeChange($event)"  formControlName="modeSearch">
        <mat-option class="mtselect"  value="Lync">Lync</mat-option>
        <mat-option  class="mtselect" value="ClassRoom">ClassRoom</mat-option>
        <mat-option class="mtselect"  value="External">External</mat-option>          
      </mat-select>
      <mat-select class="search" placeholder="TrainingSkillType" (ngModelChange)="onTypeChange($event)" formControlName="SkillTypeSearch" >        
         <mat-option class="mtselect" value="NewIT">New IT</mat-option>
        <mat-option  class="mtselect" value="Domain">Domain</mat-option>
        <mat-option class="mtselect" value="Technical">Technical</mat-option>
        <mat-option class="mtselect" value="SoftSkill">SoftSkill</mat-option>
      </mat-select>
     <button class="showall SearchFont" (click)="onSelectAll($event)" mat-button>Showall</button> 
  </form>
</div>


<div *ngFor="let training of trainingList; let i = index" class="col-md-4" style="margin-bottom:5px">
  <mat-card class="topBuffer">
      <div class="training">
      <mat-card-header>
       <div  mat-card-avatar class="example-header-image">  </div>
       <mat-card-title class="cardclass">{{training.TrainingName}} </mat-card-title>   
       <mat-card-subtitle class="subtitle">
          Mode:  {{training.TrainingMode}}
       </mat-card-subtitle>
       <mat-card-subtitle class="subtitle">
          Training Type: {{training.TrainingSkillType}}
        </mat-card-subtitle>
        <mat-card-subtitle class="subtitle">
          Scheduled on:{{training.TrainingStartDate}} </mat-card-subtitle>
        </mat-card-header>
  <mat-card-actions>
      <button class="buttoncls" style="float:right" [disabled]="checkEnrolled(i)" (click)="onRegisterClick(i)" mat-button>
          Register
      </button>
      <button class="buttoncls"  style="float:right"  (click)="onTrainingClick(i)"  mat-button>
        ViewDetails
      </button>
  </mat-card-actions>
  </div>
  </mat-card>
</div>



