<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <mat-card class="formWrapper mat-elevation-z1">
      <!-- form starts here -->
      <form [formGroup]="loginForm" (ngSubmit)="onLoginButton()">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" required formControlName="email">
          <mat-error>
            Please enter a valid email address
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input type="password" matInput placeholder="Password" required formControlName="password">
          <mat-error *ngIf="loginForm.hasError('minlength',['password'])">
            Password length should be min of 5
          </mat-error>
          <mat-error *ngIf="loginForm.hasError('maxlength',['password'])">
            Password length should not be more than 20
          </mat-error>
        </mat-form-field>
        <mat-radio-group class="example-radio-group" required formControlName="loginType">
          <mat-radio-button class="example-radio-button" *ngFor="let loginType of loginTypes" [value]="loginType">
            {{loginType}}
          </mat-radio-button>
        </mat-radio-group>
        <button class="submit" type="submit" [disabled]="!loginForm.valid" mat-raised-button color="warn">Login</button>
      </form>
    </mat-card>
  </div>
</div>