.formWrapper{
    margin: 90px 0px 0px 0px;
}

.example-full-width {
    width: 100%;
  }

  .example-radio-group {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
  }
  
  .example-radio-button {
    margin: 5px;
  }

  .submit{
      margin-top: 10px;
  }