<mat-toolbar color="mat-elevation-z*" class="toolBar">
    <mat-toolbar-row>
      <a href="#">
          <img  class="singtel" src="https://www.singtel.com/content/dam/singtel/online-draft/singtel_logo_coloured.png" alt="singtel">
          <img  class="logo" src="https://beta-cdn.optusdigital.com/content/dam/optus/images/about-us/media-centre/multimedia/logos/OPTUS_Teal_sRGB_RELEASE_03_310316.png" alt="optus">
      </a>
      <span class="example-spacer"></span>
      <!-- <button  class="toolbarButton" [matMenuTriggerFor]="PeopleMenu" mat-button>People</button> -->
      <button  class="toolbarButton" [matMenuTriggerFor]="OriginateMenu" mat-button>Originate</button>
      <button  class="toolbarButton" [matMenuTriggerFor]="AutomateMenu" mat-button>Automate</button>
      <button  class="toolbarButton"  [matMenuTriggerFor]="InnovateMenu" mat-button>Innovate</button>
      <button *ngIf="!isLoggedIn" [routerLink]="['./login']" class="toolbarButton" mat-button>Login</button>
      <button *ngIf="isLoggedIn" (click)="onLoggedOut()" class="toolbarButton" mat-button>Logout</button>
      <img class="logo" src="https://www.accenture.com/us-en/_acnmedia/Accenture/next-gen-4/oracle-technology-vision-2017/img/Accenture-Oracle-Tech-Vision-2017-Lockup.png" alt="Accenture Logo">
    </mat-toolbar-row>
  </mat-toolbar>
  <!-- this is for Innovate menu -->
  <mat-menu #OriginateMenu="matMenu" [overlapTrigger]="false" class="innovateMenu">
    <a routerLink="/originateLogging"><button  class="menuButton" mat-menu-item>Log Opportunity</button></a>
    <a routerLink="/originate"><button class="menuButton" mat-menu-item>Show All</button></a>
    <a routerLink="/originateDashboard"><button class="menuButton" mat-menu-item>Dashboard</button></a>
  </mat-menu>
   <!-- this is for Innovate menu -->
   <mat-menu #InnovateMenu="matMenu" [overlapTrigger]="false" class="innovateMenu">
      <a routerLink="/ideaLogging"><button  class="menuButton" mat-menu-item>Log Ideas</button></a>
      <a routerLink="/ideas"><button class="menuButton" mat-menu-item>Show All</button></a>
      <a routerLink="/innovationDashboard"><button class="menuButton" mat-menu-item>Dashboard</button></a>
    </mat-menu>
    <!-- Automation Menu-->
    <mat-menu #AutomateMenu="matMenu" [overlapTrigger]="false" class="innovateMenu">
      <a routerLink="/addAutomation"><button  class="menuButton" mat-menu-item>Contribute</button></a>
      <a routerLink="/showAutomation"><button  class="menuButton" mat-menu-item>Show All</button></a>
      <a routerLink="/automationDashboard"><button class="menuButton" mat-menu-item>Dashboard</button></a>      
    </mat-menu>
    <!-- <mat-menu #PeopleMenu="matMenu" [overlapTrigger]="false" class="innovateMenu">
      <a routerLink="/addPeopleContribution"><button  class="menuButton" mat-menu-item>Contribute</button></a>
      <a routerLink="/showPeopleContribution"><button  class="menuButton" mat-menu-item>Show All</button></a>
      <a routerLink="/peopleDashboard"><button class="menuButton" mat-menu-item>Dashboard</button></a>      
    </mat-menu> -->
