body {
    margin: 0;
    font-family: Roboto, sans-serif;
  }
  
  .toolBar{
    background: darkslategrey;
    top: 0;
    position: fixed;
    z-index:999;
  }
  
  mat-toolbar-row {
    justify-content: space-between;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

  .toolbar-menu{
    color: black;
  }

  .logo{
    height: 26px;
    margin: 0 4px 5px 5px;
    vertical-align: middle;
  }

  .singtel{
    height: 58px;
    margin: 0 4px 5px 15px;
    vertical-align: middle;
  }

  .title{
    vertical-align: middle;
    margin: 0 4px 3px 10px;
    color: white;
  }


  .mainText{
      color: white;
      position: relative;
      font-weight: bold;
      top: 40%
  }

  .formCard{
      top: 20%;
  }
  

  .titleText{
    color: aqua;
    font-size: x-large;
    padding: 11px;
    border: 1px solid;
  }

  .description{
    margin-top: 30px;
    font-style: italic;
  }

  .toolbarButton{
    color: aqua;
    font-weight: bold;
  }

  >>> .innovateMenu .mat-menu-content{
    background: darkslategrey;
    color: white !important;
  }

  .menuButton{
    color: aqua;
  }