<div class="container" style="padding:20px">
  <div class="row">
    <form [formGroup]="searchAutomationForm">
      <div class="col-md-3 filterCriteria">
        <mat-form-field class="example-full-width">
          <mat-select placeholder="Initiative Category" (ngModelChange)="OnInitiativeCatChange($event)" formControlName="initiative">
            <mat-option *ngFor="let initiative of initiativeCat" [value]="initiative.value">
              {{initiative.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-3 filterCriteria">
        <mat-form-field class="example-full-width">
          <mat-select placeholder="TOWER" (ngModelChange)="OnTowerChange($event)" formControlName="clientTowerType">
            <mat-option *ngFor="let clientTowerType of clientTowerTypes" [value]="clientTowerType.value">
              {{clientTowerType.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-4 filterCriteria">
        <mat-form-field class="example-full-width">
          <mat-select placeholder="Time Period" (ngModelChange)="OnPeriodChange($event)" formControlName="timePeriod">
            <mat-option *ngFor="let time of timeperiod" [value]="time.value">
              {{time.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-button color="primary" class="SearchAll" (click)="onSelectAll($event)">ALL</button>
      </div>
    </form>
  </div>
  <div class="row" style="margin:2px">
    <div class="col-md-10 exportCriteria" >
      <button mat-raised-button color="warn" (click)="ClickExcel()">Export as Excel</button>
      <button mat-raised-button color="warn" (click)="ClickPDF()">Export as PDF</button>
    </div>    
  </div>
  <div  class="row">
    <div class="col-md-10 dashboardpanel"  id="TowerArea">
      <ngx-charts-advanced-pie-chart *ngIf="pieChartdata && pieChartdata.length > 0" [view]="view" [scheme]="towerScheme" [results]="pieChartdata"
        [gradient]="gradient">
      </ngx-charts-advanced-pie-chart>
      <div class="dashboardheader">
        Tower
      </div>
    </div>
    </div>
    <div class="row">
      <div class="col-md-10 dashboardpanel" id="StatusArea">
        <ngx-charts-advanced-pie-chart *ngIf="pieChartStatusdata && pieChartStatusdata.length > 0" [view]="view" [scheme]="colorscheme"
          [results]="pieChartStatusdata" [gradient]="gradient" (select)="onStatusSelect($event)">
        </ngx-charts-advanced-pie-chart>
        <div class="dashboardheader">
          Status
        </div>
      </div>
    </div>  
    <div class="row">
    <div class="col-md-5 dashboardpanel" id="BenefitArea" >
      <ngx-charts-bar-vertical-stacked *ngIf="benefitAreaData && benefitAreaData.length > 0" [view]="BAview" [scheme]="verStacScheme"
        [results]="benefitAreaData" [gradient]="true" [xAxis]="true" [yAxis]="true" [legend]="true" [legendTitle]="BAlegendTitle"
        (select)="onBASelect($event)">
      </ngx-charts-bar-vertical-stacked>
      <div class="dashboardheader">
        BenefitArea
      </div>
    </div>
    <div class="col-md-5 dashboardpanel" id="WorkType">
      <ngx-charts-bar-vertical-2d *ngIf="horTypeToolData && horTypeToolData.length > 0" [view]="VTTview" [scheme]="WorkToolScheme"
        [results]="horTypeToolData" [xAxis]="true" [yAxis]="true" [gradient]="false" [legend]="true" [legendTitle]="WTlegentTitle"
        (select)="onWTSelect($event)">
      </ngx-charts-bar-vertical-2d>
      <div class="dashboardheader">
        WorkType/Tool
      </div>
    </div>
  </div>
</div>