<mat-tab-group mat-stretch-tabs class="wrapper">
  <mat-tab label="Idea Logging" layoutfill><app-idea-logging></app-idea-logging></mat-tab>
  <mat-tab label="Idea of the month"><app-idea-by-month></app-idea-by-month></mat-tab>
  <mat-tab label="Trending"><app-trendin></app-trendin></mat-tab>
</mat-tab-group>