<div class="row">
  <div class="col-md-6">
    <strong>Title: </strong>{{ideaData.title}}
  </div>
  <div class="col-md-4">
    <strong>Status: </strong>{{ideaStatus}}
  </div>  
</div>  
<div class="row">&nbsp;</div>    
<p> <strong>Description: </strong>{{ideaData.description}}</p>
<p> <strong>Technologies: </strong>{{ideaData.techs}}</p>
<p> <strong>Email: </strong>{{ideaData.email}}</p>
<p> <strong>Employee ID: </strong>{{ideaData.employeeID}}</p>
<p> <strong>Date: </strong>{{ideaData.created_at | date: 'dd MMMM yyyy'}}</p>
<div class="choices">
  <button class="likeButton" [disabled]="isLikeButtonBusy" mat-raised-button (click)="onLike()">{{likeButtonString}}</button>
  <button *ngIf="isAdmin" class="progress" mat-raised-button color="warn" (click)="onProgress()">{{progressText}}</button>
</div>

<!-- this is for progress -->
<div *ngIf="isProgressVisible" class="progressDetails">
  <mat-horizontal-stepper class="stepper">
    <mat-step>
      <form [formGroup]="approValForm">
        <ng-template matStepLabel>
          <div class="approvalLabel text-center">
            <span matTooltip="Approval Status!">
              <p [ngStyle]="getApprovalStyle()">
                <strong>Approval</strong>
              </p>
            </span>
          </div>
        </ng-template>
        <mat-card class="approvalInfo">
          <strong *ngIf="isApproved">Idea is approved</strong>
          <strong *ngIf="!isApproved">Idea is not pproved</strong>
          <br>
          <!-- this is for approval history -->
          <div *ngIf="isApprovalHistory" class="approvalHistory">
            <p *ngIf="approvedHistoryData.length == 0">No History found</p>
            <ol>
              <li *ngFor="let data of approvedHistoryData">
                <div>
                    Status was <b> {{data.status}} </b> by <b><i><u> {{data.username}} </u></i></b> on {{data.created_at | date : 'dd'}}/{{data.created_at | date:'MM'}}/{{data.created_at | date: 'yyyy'}} with comments : <i><u> {{data.comments}} </u></i>
                </div>
              </li>
            </ol>
          </div>
          <mat-form-field class="example-full-width" >
            <input matInput  placeholder="Comments" required autocomplete="off" formControlName="comments">
            <mat-error>
              Comment must be minimum 10 char
            </mat-error>
          </mat-form-field>
          <div class="actionButtons">
            <button *ngIf="!isApproved" [disabled]="!approValForm.valid || isApprovalButtonBusy" (click)="onApprove(1)" mat-raised-button
              color="primary">Approve</button>
            <button *ngIf="isApproved" [disabled]="!approValForm.valid || isApprovalButtonBusy" mat-raised-button color="warn" (click)="onApprove(0)">Disapprove</button>
            <button mat-button *ngIf="!isApprovalHistory" (click)="showApprovedHistory()">Show History</button>
            <button mat-button *ngIf="isApprovalHistory" (click)="showApprovedHistory()">Hide History</button>
          </div>
        </mat-card>
      </form>
    </mat-step>


    <!-- this is for feasibility -->
    <mat-step >
      <form [formGroup]="feasibilityForm">
        <ng-template matStepLabel>
          <div class="approvalLabel text-center">
            <span matTooltip="Feasibility Status!">
              <p [ngStyle]="getFeasibilityStyle()">
                <strong>Feasibility</strong>
              </p>
            </span>
          </div>
        </ng-template>
        <mat-card class="approvalInfo">
          <strong>{{isFeasibile ? 'This Idea is feasible' : 'Feasiblity to be Checked'}}</strong>
          <br>
          <div *ngIf="feasHistoryButtonStatus">
            <p *ngIf="!isFeasData">No History found</p>
            <ol>
              <li *ngFor="let data of feasData">
                status is {{data.status}} with comments {{data.comments}}
              </li>
            </ol>
          </div>

           <!-- this is for selecting quarter Year -->
           <div class=" row">
              <mat-form-field class="example-full-width col-md-5">
                  <mat-select placeholder="Quarter"  required formControlName="quartsValue">
                    <mat-option *ngFor="let quart of quartsDropdown" [value]="quart.item">
                      {{quart.value}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
             <mat-form-field class="example-full-width col-md-4">
            <input matInput placeholder="Proposed Man Hours" required autocomplete="off" formControlName="quarthours">
            <mat-error>
              Enter hours required to build 
              </mat-error>
            </mat-form-field>
          </div>  
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Comments" required autocomplete="off" formControlName="comments" >
            <mat-error>
              Comment must be min 10 char
            </mat-error>
          </mat-form-field>
          <div class="actionButtons">
            <button *ngIf="!isFeasibile" [disabled]="!feasibilityForm.valid || isApprovalButtonBusy" (click)="onFeasible(1)" mat-raised-button
              color="primary">Make Feasible</button>
            <button *ngIf="isFeasibile" [disabled]="!feasibilityForm.valid || isApprovalButtonBusy" mat-raised-button color="warn" (click)="onFeasible(0)">Disapprove</button>
            <button mat-button (click)="showFeassibilityHistory()">{{feasHistoryButtonStatus ? 'Hide History' : 'Show History'}}</button>
          </div>
        </mat-card>
      </form>
    </mat-step>


    <!-- this is for team phase -->
    <mat-step >
      <form [formGroup]="teamForm">
        <ng-template matStepLabel>
          <div class="approvalLabel text-center">
            <span matTooltip="Team Status!">
              <p (click)="getTeamData()" [ngStyle]="getTeamStyle()">
                <strong>Team</strong>
              </p>
            </span>
          </div>
        </ng-template>
        <!-- team details -->
        <mat-card>
          <div>
            <!-- <p *ngIf="!isTeamAvailable">
              <strong>No Team Details Found</strong>
            </p> -->
          </div>
          <!-- adding team members -->
          <div class="addTeamStyle">
            <div class="emailField">
              <mat-form-field class="emailFIeldValue">
                <input matInput placeholder="Add Team superated by comma(,)" autocomplete="off" required formControlName="team">
                <mat-error>
                  Enter atleast 5 char
                </mat-error>
              </mat-form-field>
            </div>
            <div class="AddTeamButton">
              <button mat-raised-button (click)="AddTeam()" [disabled]="!teamForm.valid" color="warn">Add</button>
            </div>
          </div>
          <!-- table data -->
          <div class="example-container mat-elevation-z1">
            <mat-table #table [dataSource]="demoDataSource">
              <!-- Position Column
              <ng-container matColumnDef="position">
                <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
              </ng-container> -->

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Name || Email </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
              </ng-container>

              <!-- Action Column -->
              <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                <mat-cell *matCellDef="let element; let i = index">
                  <mat-icon class="deleteIcon" (click)="deleteUser(i)">delete</mat-icon>
                </mat-cell>
              </ng-container>

              <!-- headers -->
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

            </mat-table>
          </div>

        </mat-card>
      </form>
    </mat-step>


    <!-- this is for build phases -->
    <mat-step>
      <ng-template matStepLabel>
        <div class="approvalLabel text-center">
          <span matTooltip="Build Status!">
            <p (click)="getBuildData()" [ngStyle]="getBuildStyle()">
              <strong>Build</strong>
            </p>
          </span>
        </div>
      </ng-template>
      <!-- date values starts here -->
      <mat-card>
        <div class="buildInput">
          <form class="example-form" [formGroup]="buildForm" (ngSubmit)="buildFormSubmit(buildForm)">
            <div class="datesLayout">
              <mat-form-field class="example-full-width">
                <input required formControlName="builStartDate" matInput [min]="minDate" [matDatepicker]="startPicker" placeholder="Choose a start date">
                <mat-error *ngIf="buildForm.hasError('required','builStartDate')">
                  Select start date
                </mat-error>
                <mat-error>
                  Check dates start date should be before end date
                </mat-error>
                <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                <mat-datepicker #startPicker></mat-datepicker>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input required formControlName="builEndDate" matInput [min]="minDate" [matDatepicker]="endPicker" placeholder="Choose a end date">
                <mat-error *ngIf="buildForm.hasError('required','builEndDate')">
                  Select end date
                </mat-error>
                <mat-error>
                  Check dates start date should be before end date
                </mat-error>
                <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                <mat-datepicker #endPicker></mat-datepicker>
              </mat-form-field>
            </div>
            <mat-form-field class="buildInputField">
              <input matInput placeholder="Build phase title" required autocomplete="off" formControlName="buildTitle">
              <mat-error *ngIf="buildForm.hasError('minlength','buildTitle')">
                Title should be atleast 6 char
              </mat-error>
            </mat-form-field>
            <p *ngIf="dateError">{{dateErrorMessage}}</p>
            <button class="buildSubmit" [disabled]="!buildForm.valid" class="text-center" mat-raised-button color="warn">Submit</button>
          </form>
        </div>
      </mat-card>
      <!-- build phase data in table format -->
      <!-- table data -->
      <div class="example-container mat-elevation-z1">
        <mat-table #table [dataSource]="buildDataSourceTable">

          <!-- Name Column -->
          <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
            <mat-cell *matCellDef="let teamData"> {{teamData.title}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="date">
            <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
            <mat-cell *matCellDef="let teamData"> {{teamData.created_at | date: 'dd MMMM yyyy'}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="start date">
            <mat-header-cell *matHeaderCellDef> Start date </mat-header-cell>
            <mat-cell *matCellDef="let teamData"> {{teamData.start_date | date: 'dd MMMM yyyy'}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="end date">
            <mat-header-cell *matHeaderCellDef> End date </mat-header-cell>
            <mat-cell *matCellDef="let teamData"> {{teamData.end_date | date: 'dd MMMM yyyy' }} </mat-cell>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
            <mat-cell *matCellDef="let teamData; let i = index">
              <mat-icon class="deleteIcon" (click)="deleteUser(i)">delete</mat-icon>
            </mat-cell>
          </ng-container>

          <!-- headers -->
          <mat-header-row *matHeaderRowDef="teamDisplayColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: teamDisplayColumns;"></mat-row>
        </mat-table>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>
        <div class="approvalLabel text-center">
          <span matTooltip="Production Status">
            <p (click)="getProductionData()" [ngStyle]="getProductionStyle()">
              <strong>Production</strong>
            </p>
          </span>
        </div>
      </ng-template>
      <!-- date values starts here -->
      <mat-card>
        <div class="buildInput">
          <form class="example-form" [formGroup]="productionForm" (ngSubmit)="productionFormSubmit(productionForm)">
            <div class="datesLayout">
              <mat-form-field class="example-full-width">
                <input required formControlName="builStartDate" matInput [min]="minDate" [matDatepicker]="startProdPicker" placeholder="Choose a start date">
                <mat-error *ngIf="productionForm.hasError('required','builStartDate')">
                  Select start date
                </mat-error>
                <mat-error>
                  Check dates start date should be before end date
                </mat-error>
                <mat-datepicker-toggle matSuffix [for]="startProdPicker"></mat-datepicker-toggle>
                <mat-datepicker #startProdPicker></mat-datepicker>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input required formControlName="builEndDate" matInput [min]="minDate" [matDatepicker]="endProdPicker" placeholder="Choose a end date">
                <mat-error *ngIf="productionForm.hasError('required','builEndDate')">
                  Select end date
                </mat-error>
                <mat-error>
                  Check dates start date should be before end date
                </mat-error>
                <mat-datepicker-toggle matSuffix [for]="endProdPicker"></mat-datepicker-toggle>
                <mat-datepicker #endProdPicker></mat-datepicker>
              </mat-form-field>
            </div>
            <mat-form-field class="buildInputField">
              <input matInput placeholder="Production phase title" required autocomplete="off" formControlName="buildTitle">
              <mat-error *ngIf="productionForm.hasError('minlength','buildTitle')">
                Title should be atleast 6 char
              </mat-error>
            </mat-form-field>
            <p *ngIf="dateError">{{dateErrorMessage}}</p>
            <button class="buildSubmit" [disabled]="!productionForm.valid" class="text-center" mat-raised-button color="warn">Submit</button>
          </form>
        </div>
      </mat-card>
      <!-- build phase data in table format -->
      <!-- table data -->
      <div class="example-container mat-elevation-z1">
        <mat-table #table [dataSource]="productionDataSourceTable">

          <!-- Name Column -->
          <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
            <mat-cell *matCellDef="let teamData"> {{teamData.title}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="date">
            <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
            <mat-cell *matCellDef="let teamData"> {{teamData.created_at | date: 'dd MMMM yyyy'}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="start date">
            <mat-header-cell *matHeaderCellDef> Start date </mat-header-cell>
            <mat-cell *matCellDef="let teamData"> {{teamData.start_date | date: 'dd MMMM yyyy'}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="end date">
            <mat-header-cell *matHeaderCellDef> End date </mat-header-cell>
            <mat-cell *matCellDef="let teamData"> {{teamData.end_date | date: 'dd MMMM yyyy' }} </mat-cell>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
            <mat-cell *matCellDef="let teamData; let i = index">
              <mat-icon class="deleteIcon" (click)="deleteUser(i)">delete</mat-icon>
            </mat-cell>
          </ng-container>

          <!-- headers -->
          <mat-header-row *matHeaderRowDef="productionDisplayColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: productionDisplayColumns;"></mat-row>
        </mat-table>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>
        <div class="approvalLabel text-center">
          <span matTooltip="Business Benefits!">
            <p (click)="getBusinessBenefitsData() " [ngStyle]="getBenefitsStyle()">
              <strong>Business Benefits</strong>
            </p>
          </span>
        </div>
      </ng-template>
      <mat-card>
        <div>
          <form class="example-form" [formGroup]="businessBenefitsform" (ngSubmit)="benefitsFormSubmit(businessBenefitsform)">
            <div class="row">
              <mat-form-field class="example-full-width col-md-8">
                  <textarea matInput #message maxlength="256" required formControlName="businessBenefits" placeholder="Business Benefits"></textarea>
                  <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
                  <mat-error *ngIf="buildForm.hasError('minlength','businessBenefits')">
                      Provide descriptive business benefits minimum 15 characters
                  </mat-error>               
              </mat-form-field>
              </div>  
              <div class="row">
              <mat-form-field class="example-full-width col-md-8">
                  <textarea matInput #appreciation maxlength="256" required formControlName="businessAppreciation" placeholder="Business Appreciation"></textarea>
                  <mat-hint align="end">{{appreciation.value.length}} / 256</mat-hint> 
              </mat-form-field>
            </div>
            <div class="row">
              <br/>
            </div>
            <div class="row">
              <mat-form-field class="example-full-width col-md-5">
                <mat-select placeholder="Benefits Classification" required formControlName="businessbenefitsClassification">
                  <mat-option *ngFor="let benefit of benefits" [value]="benefit.value">
                    {{benefit.value}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="example-full-width col-md-5">
                <input matInput placeholder="Business Hours" formControlName="benefitsHours">
              </mat-form-field>
              </div>  
              <div class="row">
              <button  [disabled]="!businessBenefitsform.valid" class=" businessSubmit text-center" mat-raised-button color="warn">Submit</button>
            </div>
          </form>
        </div>
      </mat-card>
    </mat-step>
  </mat-horizontal-stepper>
</div>