p {
  word-wrap: break-word;
}

.title {
  font-size: 20px;
}

.choices {
  display: flex;
}

.likeButton {
  color: blue;
}

.progress {
  height: 100%;
  margin: 0px 0px 0px 10px;
}

.progressDetails {
  margin: 10px 0px 0px 0px;
  max-height: 400px;
}

.stepper {
  background: #1d86a4;
}

.labelText {
  color: white;
}

.actionButtons {
  margin: 10px 0px 0px 0px;
  display: flex;
  flex-direction: row-reverse;
}

.approvalInfo {
  display: flex;
  flex-direction: column;
}

.approvalHistory {
  margin: 0px 0px 10px 0px;
}

.approvalLabel p {
  margin: 0 !important;
  /* padding: 0; */
  color: red;
}

.addTeamStyle {
  display: flex;
}

.emailField {
  width: 90%;
}

.AddTeamButton {
  width: 10%;
}

.emailFIeldValue {
  width: 100%;
}

.example-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.deleteIcon {
  cursor: pointer;
}

.datesLayout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buildInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.example-form {
  flex-grow: 1;
}

.buildInputField {
  width: 100%;
}

.buildSubmit{
  margin-top: 50px;
}

.businessSubmit{
  margin-top: 50px;
  margin-right: 100px;
  float: right;
}