<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <mat-card class="formWrapper mat-elevation-z1">
      <form [formGroup]="AutomationForm" (ngSubmit)="onAddAutomationButton()">
        <mat-horizontal-stepper formArrayName="formArray" linear>
          <mat-step formGroupName="0" [stepControl]="formArray.get([0])">
            <ng-template matStepLabel>Basic Info</ng-template>
            <mat-form-field class="example-full-width">
              <mat-select placeholder="TOWER" required (ngModelChange)="OnTowerChange($event)" formControlName="clientTowerType" >
                <mat-option *ngFor="let clientTowerType of clientTowerTypes" [value]="clientTowerType.value">
                  {{clientTowerType.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input type="text" placeholder="Application" required matInput [matAutocomplete]="auto" formControlName="applicationName">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let applicationName of filteredOptions | async" [value]="applicationName.value">
                    {{ applicationName.value }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <!-- <mat-form-field class="example-full-width">
              <mat-select placeholder="Application" required formControlName="applicationName">
                <mat-option *ngFor="let applicationName of applicationNames" [value]="applicationName.value">
                  {{applicationName.value}}
                </mat-option>
              </mat-select>
            </mat-form-field> -->
            <mat-form-field class="example-full-width">
              <input matInput autocomplete="off" placeholder="Title" required formControlName="title">
              <mat-error>
                Title should be minimum of 10
              </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <textarea matInput autocomplete="off" #message placeholder="Description" maxlength="256" required formControlName="description" ></textarea>
              <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
              <mat-error *ngIf="AutomationForm.hasError('minlength',['description'])">
                <p>Description should be between 10 to 256 </p>
              </mat-error>
            </mat-form-field >            
             <!--<mat-form-field class="example-full-width">
              <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" placeholder="Choose a date" required formControlName="date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field> -->
             <mat-form-field class="date_wrap">
              <input matInput autocomplete="off"  [matDatepickerFilter]="myFilter" [matDatepicker]="pickerTo" placeholder="StartDate" required formControlName="date">
              <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
              <mat-datepicker #pickerTo></mat-datepicker>
              </mat-form-field> 
              <mat-form-field >
                <input matInput autocomplete="off"  [matDatepickerFilter]="myFilter" [matDatepicker]="pickerFrom" placeholder="CompletionDate" required formControlName="autoenddate">
              <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
              <mat-datepicker   #pickerFrom></mat-datepicker>
              </mat-form-field> 
                
          
            <mat-form-field class="example-full-width">
              <input matInput autocomplete="off" placeholder="Lead" required formControlName="anchor">
              <mat-error>
                Lead is mandatory
              </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput autocomplete="off" placeholder="POC" required formControlName="assignedTo">
              <mat-error>
                POC is mandatory
              </mat-error>
            </mat-form-field>
          </mat-step>
          <mat-step formGroupName="1" [stepControl]="formArray.get([1])">
            <ng-template matStepLabel>Benefits Info</ng-template>
            <mat-form-field style="width: 40%">
              <input matInput autocomplete="off" type="number" placeholder="Effort Reduction" required formControlName="effort">
              <mat-error>
                Effort Reduction is mandatory (in Hrs / Year)
              </mat-error>
            </mat-form-field>
            <mat-form-field >
              <input matInput autocomplete="off" type="number" placeholder="Implementation Effort" required formControlName="implementation">
              <mat-error>
                Implementation Effort is mandatory (in Hrs / Year)
              </mat-error>
            </mat-form-field>            
            <mat-form-field style="width: 40%">
              <input matInput  autocomplete="off" type="number" placeholder="FTE Savings" required formControlName="FTE">
              <mat-error>
                FTE Savings
              </mat-error>
            </mat-form-field>
            <mat-form-field >
              <input matInput autocomplete="off" type="number" placeholder="Ticket Reduction / Year" formControlName="ticket">
              <mat-error>
                Ticket reductions / Year
              </mat-error>
            </mat-form-field>
            <mat-form-field style="width: 40%">
              <input matInput autocomplete="off" type="number" placeholder="Cost Saving Per Day ($)" required formControlName="costperday">
              <mat-error>
                Cost Savings Per Day ( in $)
              </mat-error>
            </mat-form-field>
            <mat-form-field >
              <input matInput autocomplete="off" type="number" placeholder="Net Cost Saving" required formControlName="netcostsaving">
              <mat-error>
                Net Cost Savings Per Year ( in $)
              </mat-error>
            </mat-form-field>
            
            <mat-form-field class="example-full-width">
              <mat-select placeholder="Work Type" required formControlName="workType">
                <mat-option *ngFor="let workType of workTypes" [value]="workType.item">
                  {{workType.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-select placeholder="Benefit Area" required formControlName="benefitArea">
                <mat-option *ngFor="let benefitArea of benefitAreas" [value]="benefitArea.item">
                  {{benefitArea.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-select placeholder="Initiative Category" required formControlName="initiative">
                <mat-option *ngFor="let initiative of initiativeCat" [value]="initiative.item">
                  {{initiative.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-select placeholder="Tool Category" required formControlName="methodology" >
                <mat-option *ngFor="let methodology of methodologies; let i = index" [value]="methodology.item">
                  {{methodology.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-step>
        </mat-horizontal-stepper>
        <button class="submit" type="submit" formcontrolName="submit" [disabled]="!AutomationForm.valid" mat-raised-button color="warn">SUBMIT</button>
      </form>
    </mat-card>
  </div>
</div>