<div class="container" style="padding:20px">
    <form [formGroup]="PeopleDashboardForm">
  <div class="col-md-12  ">
      <mat-form-field class="example-full-width wrapper filterCriteria1">
          <mat-select placeholder="Timeperiod" (ngModelChange)="OnPeriodChange($event)" formControlName="timePeriod">
            <mat-option value="6">Last 6 months</mat-option>
            <mat-option value="3">Last 3 months</mat-option>
            <mat-option value="-3">Next 3 months</mat-option>
            
          </mat-select>
        </mat-form-field>     
    
      <button mat-raised-button class="btn" color="warn" (click)="ClickExcel()">Export as Excel</button>
      <button mat-raised-button class="btn" color="warn" (click)="ClickPDF()">Export as PDF</button>
    
  </div>
  </form>
</div>
<div class="container" style="padding:20px">
<div  class="row">
  <div class="col-md-5 dashboardpanel"  id="CompleteTraining">
    <ngx-charts-advanced-pie-chart *ngIf="PiechartTrainingType && PiechartTrainingType.length > 0" [view]="view" [scheme]="SkillTypeScheme" [results]="PiechartTrainingType"
      [gradient]="gradient">
    </ngx-charts-advanced-pie-chart>
    <div class="dashboardheader">
      Trainings
    </div>
 </div>
  <div class="col-md-5 dashboardpanel"  id="SkilledEmpCount">
    <ngx-charts-advanced-pie-chart *ngIf="PieChartUserCount && PieChartUserCount.length > 0" [view]="view" [scheme]="UserCountScheme" [results]="PieChartUserCount"
      [gradient]="gradient">
    </ngx-charts-advanced-pie-chart>
    <div class="dashboardheader">
       Enrolled UserCount
    </div>
 </div>

 
</div>
<div  class="row">
  <div class="col-md-5 dashboardpanel" id="TrainingHistory" >
    <ngx-charts-bar-vertical-stacked *ngIf="stackChartdata && stackChartdata.length > 0" [view]="BAview" [scheme]="verStacScheme"
      [results]="stackChartdata" [gradient]="true" [xAxis]="true" [yAxis]="true" [legend]="true" [legendTitle]="BAlegendTitle"
      (select)="onBASelect($event)">
    </ngx-charts-bar-vertical-stacked>
    <div class="dashboardheader">
        Training History
    </div>
    </div>
    <div class="col-md-5 dashboardpanel" id="EnrolledUserCount" >
      <ngx-charts-bar-vertical-stacked *ngIf="barChartTrained && barChartTrained.length > 0" [view]="BAview" [scheme]="verStacScheme"
        [results]="barChartTrained" [gradient]="true" [xAxis]="true" [yAxis]="true" [legend]="true" [legendTitle]="BAlegendTitle">
             
      </ngx-charts-bar-vertical-stacked>
      <div class="dashboardheader">
        Enrolled UserCount
      </div>
</div>
</div>

