.filterCriteria
{
    border: black 2px solid;
    background-color: aliceblue;
    height: 60px;
}
.formWrapper{
    margin: 200px 200px 2000px 200px;
    font-size: 16px;
}
.filterCriteria1
{
    height:39px;
    background-color: aliceblue;
    
}
.btn{
    margin-top: 100;
    height:46px;
}
.dashboardpanel
{
    margin:2px 2px;
    padding:2px;
    background: linear-gradient(#e9e9ed, #eef0f5);
    border: 2px solid rgb(28, 50, 107);
    border-radius: 5px;
    height: 400px;
}
.example-full-width {
    width: 15%;
  }
.dashboard
{
    margin:2px 2px;
    padding:2px;
    background: linear-gradient(#e9e9ed, #eef0f5);
    border: 2px solid rgb(28, 50, 107);
    border-radius: 5px;
    height: 800px;
    width: 800px;
}

.graphWrapper{
    max-height: 150px;
}

.dashboardheader
{
    text-align: center;
    font-size: 22px;
    font-style: italic;
}