    <form [formGroup]="AutomationForm"  style="max-width: 40vw;">  
      <mat-horizontal-stepper formArrayName="formArray" linear>
        <mat-step formGroupName="0" [stepControl]="formArray.get([0])">
        <ng-template matStepLabel>Basic Info</ng-template>
        <mat-form-field class="example-full-width">        
          <input type="text" autocomplete="off" placeholder="Tower" required matInput  placeholder="Tower" type="text" disabled=true [value]="automationdata.automationTower" formControlName="TowerControl">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input type="text" autocomplete="off" placeholder="Application" required matInput  type="text" disabled=true [value]="automationdata.automationApplication" formControlName="AutoAppcntrl">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input class="unedit" autocomplete="off" type="text"  placeholder="Title" required matInput  placeholder="Title" type="text" disabled=true [value]="automationdata.automationTitle" formControlName="AutoTitlecntrl">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input type="text" autocomplete="off" placeholder="Description" required matInput   type="text" disabled=true [value]="automationdata.automationDescription" formControlName="AutoDescriptioncntrl">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input type="text" autocomplete="off" placeholder="AutomationOwner" required matInput   type="text" disabled=true [value]="automationdata.automationCreatedBy" formControlName="Autoownercntrl">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-select placeholder="Status"  [disabled]="!cntrlenable" [(ngModel)]="automationdata.automationStatus"  required formControlName="automationStatus">
            <mat-option *ngFor="let status of automationStatus" [value]="status.item">
            {{status.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="date_wrap">
          <input  matInput  [matDatepickerFilter]="myFilter"  [matDatepicker]="pickerTo" placeholder="AutomationStartDate" disabled=true   [(ngModel)]="automationdata.automationDate"  formControlName="Automationdatecntrl">
          <mat-datepicker-toggle matSuffix [for]="pickerTo" ></mat-datepicker-toggle>
          <mat-datepicker #pickerTo></mat-datepicker>
        </mat-form-field> 
        <mat-form-field >
          <input matInput [matDatepickerFilter]="myFilter"  [matDatepicker]="pickerFrom" placeholder="CompletionDate"  [(ngModel)]="automationdata.CompletionDate"  required formControlName="Automationexpecteddatecntrl">
          <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
          <mat-datepicker   #pickerFrom></mat-datepicker>
        </mat-form-field> 
        <mat-form-field class="example-full-width">
            <input autocomplete="off" type="textArea" placeholder="Automation Lead" [disabled]="!cntrlenable"   required matInput     [(ngModel)]="automationdata.automationLead" formControlName="AutoLeadCCntrl">                  
          </mat-form-field>
        <mat-form-field class="example-full-width">
          <input autocomplete="off" type="textArea" placeholder="Automation Resource" [disabled]="!cntrlenable"   required matInput     [(ngModel)]="automationdata.automationResource" formControlName="AutoResourceCCntrl">                  
        </mat-form-field>
      </mat-step>
      <mat-step formGroupName="1" [stepControl]="formArray.get([1])"> 
      <ng-template matStepLabel>Benefits Info</ng-template>
      <mat-form-field style="width: 40%">
        <input autocomplete="off" matInput type="number" placeholder="Effort Reduction" [disabled]="!cntrlenable" required [(ngModel)]="automationdata.automationEfforts"   formControlName="effort">
        <mat-error>
          Effort Reduction is mandatory (in Hrs / Year)
        </mat-error>
      </mat-form-field>
      <mat-form-field >
        <input autocomplete="off" matInput type="number" placeholder="Implementation Effort" [disabled]="!cntrlenable"  required [(ngModel)]="automationdata.automationImplementation"  formControlName="implementation">
        <mat-error>
          Implementation Effort is mandatory (in Hrs / Year)
        </mat-error>
      </mat-form-field>
      <mat-form-field style="width: 40%">
        <input autocomplete="off" matInput type="number" placeholder="FTE Savings" [disabled]="!cntrlenable"  required [(ngModel)]="automationdata.automationFTE"  formControlName="FTE">
        <mat-error>
          FTE Savings
        </mat-error>
      </mat-form-field>
      <mat-form-field >
        <input autocomplete="off" matInput type="number" placeholder="Ticket Reduction / Year" [disabled]="!cntrlenable"  required [(ngModel)]="automationdata.automationticket"  formControlName="ticket">
        <mat-error>
          Ticket reductions / Year
        </mat-error>
      </mat-form-field>
      <mat-form-field style="width: 40%">
        <input autocomplete="off" matInput type="number" placeholder="Cost Saving Per Day ($)" [disabled]="!cntrlenable"  required [(ngModel)]="automationdata.automationcostperday"  formControlName="costperday">
        <mat-error>
          Cost Savings Per Day ( in $)
        </mat-error>
      </mat-form-field>
      <mat-form-field >
        <input autocomplete="off" matInput type="number" placeholder="Net Cost Saving" [disabled]="!cntrlenable"  required [(ngModel)]="automationdata.automationnetcostsaving"  formControlName="netcostsaving">
        <mat-error>
          Net Cost Savings Per Year ( in $)
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <textarea matInput autocomplete="off" #message maxlength="256" required formControlName="Autocomments"  [disabled]="!cntrlenable" required [value]="automationdata.automationComments" placeholder="Comments"></textarea>
        <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
        <mat-error *ngIf="AutomationForm.hasError('minlength',['Autocomments'])">
          <p>Comments should be between 10 to 256 </p>
        </mat-error>
        <button mat-stroked-button color="primary" (click)="OnShowHistory()">Show History</button>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-select placeholder="Work Type" [disabled]="!cntrlenable" [(ngModel)]="automationdata.automationWorkType" required formControlName="workType">
          <mat-option *ngFor="let workType of workTypes" [value]="workType.item">
            {{workType.value}}
          </mat-option>
        </mat-select>
      </mat-form-field> 
      <mat-form-field class="example-full-width">
        <mat-select placeholder="Benefit Area" [disabled]="!cntrlenable" [(ngModel)]="automationdata.automationBenefitArea" required formControlName="benefitArea">
          <mat-option *ngFor="let benefitArea of benefitAreas" [value]="benefitArea.item">
            {{benefitArea.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-select placeholder="Initiative Category" [disabled]="!cntrlenable" [(ngModel)]="automationdata.automationInitiativeCat" required formControlName="initiative">
          <mat-option *ngFor="let initiative of initiativeCat" [value]="initiative.item">
            {{initiative.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-select placeholder="Tool Category" [disabled]="!cntrlenable" [(ngModel)]="automationdata.automationTool" required formControlName="methodology">
          <mat-option *ngFor="let methodology of methodologies" [value]="methodology.item">
            {{methodology.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div style="margin-bottom: 1em">
        <button *ngIf="isAdmin||createUser"  type="submit" 
        [disabled]="!AutomationForm.valid" class="btn btn-success" (click)="onSaveAutomationButton()">Save</button>
      </div> 
      </mat-step>
      </mat-horizontal-stepper>
    </form>
  
