.formWrapper{
    margin: 90px 0px 0px 0px;
    font-size: 16px;
}

.example-full-width {
    width: 100%;
  }

  .submit{
      margin-top: 10px;
  }
  .unedit
  {
      font-style:bold;
      color: grey;
      
  }
  .date_wrap {
    width: 50%;
  }
  img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 1000px;
}