.topBuffer{
    margin: 10px 0px 10px 10px;
    background: cadetblue;
}

.example-header-image {
    background-image: url('https://www.accenture.com/us-en/_acnmedia/Accenture/next-gen-4/oracle-technology-vision-2017/img/Accenture-Oracle-Tech-Vision-2017-Lockup.png');
    background-size: cover;
  }

  .mat-card-title{
    color: white;
    font-weight: bold;
    margin: 10px;
  }

  .description{
      margin-top: 20px;
      color: white;
      height: 2em; 
      line-height: 1em; 
      overflow: hidden;
  }

  .mat-button{
      color: white;
      padding: 0px;
  }

  .mat-dialog-container{
      padding: 2px;
  }
  
  .searchDiv {
    max-width: 300px;
    display: block;    
    box-sizing: border-box;
    border: 2px solid cadetblue;    
    border-radius: 4px;
    font-size: 16px;
    margin : 10px 2px 10px 30px;
    background-color: cadetblue;    
    padding: 5px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.searchbox_1{
    background-color: #609ea0;
    padding:10px;
    width:320px;
    margin: 10px 30px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    border-radius:6px;
    }

    .search_1{
    width:250px;
    height:35px;
    padding:5px;
    border-radius:6px;
    border:none;
    color:#0F0D0D;;
    font-weight:bold;
    background-color:#E2EFF7;
    -webkit-box-shadow:
0 -2px 2px 0 rgba(199, 199, 199, 0.55),
0 1px 1px 0 #fff,
0 2px 2px 1px #fafafa,
0 2px 4px 0 #b2b2b2 inset,
0 -1px 1px 0 #f2f2f2 inset,
0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
-moz-box-shadow:
0 -2px 2px 0 rgba(199, 199, 199, 0.55),
0 1px 1px 0 #fff,
0 2px 2px 1px #fafafa,
0 2px 4px 0 #b2b2b2 inset,
0 -1px 1px 0 #f2f2f2 inset,
0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
box-shadow:
0 -2px 2px 0 rgba(199, 199, 199, 0.55),
0 1px 1px 0 #fff,
0 2px 2px 1px #fafafa,
0 2px 4px 0 #b2b2b2 inset,
0 -1px 1px 0 #f2f2f2 inset,
0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
    }

    .submit_1{
    width:35px;
    height:35px;
    min-width: 15px;
    border:none;
    cursor:pointer;
    background-color: #609ea0
    }
    
    .search_1:focus{
    outline:0;
    }
