<div class="wrapper" style="padding-top: 4px">
  <form [formGroup]="searchIdeaForm" (ngSubmit)="onSearchSubmit()">
  <div class='searchbox_1'>
    <div>
        <input type="search" class="search_1" placeholder="Search" formControlName="searchField"/>   
        <button class="glyphicon glyphicon-search submit_1" mat-button></button> 
    </div>
  </div>
  </form>
  <div *ngFor="let idea of ideasList; let i = index" class="col-md-4">
    <mat-card class="topBuffer">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{idea.title}}</mat-card-title>
      </mat-card-header>
      <mat-card-content style="margin-top: 30px">
        <p class="description">{{idea.description}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button (click)="onIdeaClick(i)" mat-button>Show More</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>