<mat-card *ngIf="code < 5">
  <div *ngIf="code == 1" class="marker">
    <mat-spinner color="warn" [strokeWidth]="1"></mat-spinner>
  </div>
  <!-- this is for success mark -->
  <div *ngIf="code == 2" class="check_mark">
    <div class="sa-icon sa-success animate">
      <span class="sa-line sa-tip animateSuccessTip"></span>
      <span class="sa-line sa-long animateSuccessLong"></span>
      <div class="sa-placeholder"></div>
      <div class="sa-fix"></div>
    </div>
  </div>
  <span *ngIf="code == 2">Thank you for your submission</span>
  <div *ngIf="code == 7" class="check_mark">
      <div class="sa-icon sa-success animate">
        <span class="sa-line sa-tip animateSuccessTip"></span>
        <span class="sa-line sa-long animateSuccessLong"></span>
        <div class="sa-placeholder"></div>
        <div class="sa-fix"></div>
      </div>
    </div>
  <span *ngIf="code == 7">Registered Successfully</span>
  <div *ngIf="code == 3">
    <img class="welcomeGif" src="https://brandspace.accenture.com/Pages/downloads/artworks/images/animated_signature/Acc_Animated_Signature_Technology.gif">
  </div>
  <!-- thi is for like login status -->
  <div *ngIf="code == 4">
    <p>{{message}}</p>
  </div>  
</mat-card>
<div *ngIf="code == 5" style="border: 2px;border-color: red;border-style: solid;border-radius: 5px">
    <p class="topBuffer">
      <span style="color:red;font-size: medium;font-weight: bold"> ! Innovation Search</span>
      <br/>
      <br/>
      <span>{{message}}</span>
    </p>     
</div>
<div *ngIf="code == 6" style="border: 2px;border-color: red;border-style: solid;border-radius: 5px">
    <p class="topBuffer">
      <span style="color:red;font-size: medium;font-weight: bold"> ! Automation Search</span>
      <br/>
      <br/>
      <span>{{message}}</span>
    </p>     
</div>
<div *ngIf="code == 7" style="border: 2px;border-color: red;border-style: solid;border-radius: 5px">
  <p class="topBuffer">
    <span style="color:red;font-size: medium;font-weight: bold"> ! Automation History</span>
    <br/>
    <br/>
    <span>{{message}}</span>
  </p>     
</div>