<div class="container">
    <div class="col-md-6 col-md-offset-3">
              
      <mat-card class="formWrapper mat-elevation-z1">
       <form [formGroup]="PeopleContributionForm" (ngSubmit)="onAddPeopleContributionButton()">  
                   <mat-horizontal-stepper formArrayName="formArray" linear>
              <mat-step formGroupName="0" [stepControl]="formArray.get([0])">
                  <ng-template matStepLabel>Training Info</ng-template>
                  <mat-form-field class="example-full-width">
                      <input matInput #title placeholder="Course Name"  minLength="3" required formControlName="TitleControl">
                      <mat-error *ngIf="PeopleContributionForm.hasError('minLength')">
                       <p>Title should be minimum of 10</p>
                       </mat-error>
                      </mat-form-field >
                      <mat-form-field class="example-full-width">
                      <textarea matInput #message placeholder="Course Description" maxlength="256" required formControlName="Descriptioncntrl"></textarea>
                      <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
                       </mat-form-field>
                       <mat-form-field class="example-full-width">
                        <textarea matInput #prerequisite placeholder="Prerequisite" maxlength="150" required formControlName="Prerequisitecntrl"></textarea>
                        <mat-hint align="end">{{message.value.length}} / 150</mat-hint>
                         </mat-form-field>
                      <mat-form-field class="example-full-width">
                        <mat-select placeholder="SkillType" formControlName="trngSkillType">
                          <mat-option value="NewIT">New IT</mat-option>
                          <mat-option value="Domain">Domain</mat-option>
                          <mat-option value="Technical">Technical</mat-option>
                          <mat-option value="SoftSkill">SoftSkill</mat-option>
                        </mat-select>
                      </mat-form-field>                    
                              
                              <mat-form-field class="example-full-width" >
                                <mat-select placeholder="TrainingType" formControlName="trngType" >
                                  <mat-option value="LKM">LKM</mat-option>
                                  <mat-option value="Project">Project</mat-option>
                                  <mat-option value="External">External</mat-option>          
                                </mat-select>
                                  </mat-form-field>
                           
              </mat-step> 
              <mat-step formGroupName="1" [stepControl]="formArray.get([1])"> 
                  <ng-template matStepLabel>Training Schedule</ng-template>
              

                  <mat-form-field class="example-full-width">
                    <textarea matInput #Audience placeholder="Target Audience"  required formControlName="TargetAudience"></textarea>
                  </mat-form-field>
                  
        <mat-form-field class="example-full-width">
          <mat-select placeholder="Location" formControlName="trngLocation">
            <mat-option value="CDCC2">CDC2</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-select placeholder="TrainingMode" formControlName="trngMode">
            <mat-option value="Lync">Lync</mat-option>
            <mat-option value="ClassRoom">ClassRoom</mat-option>
            <mat-option value="External">External</mat-option>          
          </mat-select>
        </mat-form-field>
        <mat-form-field class="date_wrap">
          <input matInput  [matDatepickerFilter]="myFilter" [matDatepicker]="pickerTo" placeholder="StartDate" required formControlName="TrainingStartdate">
          <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
          <mat-datepicker #pickerTo></mat-datepicker>
          </mat-form-field> 
          <mat-form-field >
            <input matInput  [matDatepickerFilter]="myFilter" [matDatepicker]="pickerFrom" placeholder="EndDate" required formControlName="trainingEnddate">
          <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
          <mat-datepicker   #pickerFrom></mat-datepicker>
          </mat-form-field>
                                  
                  <mat-form-field class="example-full-width">
           
                      <input type="textArea" placeholder="Comments" required matInput formControlName="Autocomments">
                      
                    </mat-form-field>
                                    
                    
                  </mat-step> 
                
                </mat-horizontal-stepper>

              <button class="submit" type="submit" formcontrolName="submit" [disabled]="!PeopleContributionForm.valid" mat-raised-button color="warn">SUBMIT</button>
      </form>
        </mat-card>
        </div>
  </div>