<div class="col-md-12 col-sm-12 col-xs-12  text-center">
  <div class="col-md-12 slider">
    <ngx-carousel [inputs]="carouselBanner" [moveToSlide]="1" (onMove)="onmoveFn($event)">
      <ngx-item NgxCarouselItem class="bannerStyle">
        <img src="https://i.imgur.com/NtitLfJ.png"
          alt="">
      </ngx-item>
      <!-- automate -->
      <ngx-item NgxCarouselItem class="bannerStyle">
        <img src="https://i.imgur.com/yxdlpaK.png"
          alt="">
      </ngx-item>
      <!-- innovate -->
      <ngx-item NgxCarouselItem class="bannerStyle">
        <img src="https://i.imgur.com/oz8JQji.png"
          alt="">
      </ngx-item>
      <!-- originate -->
      <ngx-item NgxCarouselItem class="bannerStyle">
        <img src="https://i.imgur.com/dpX7Ji8.png"
          alt="">
      </ngx-item>
      <button NgxCarouselPrev class='leftRs'>&lt;</button>
      <button NgxCarouselNext class='rightRs'>&gt;</button>
    </ngx-carousel>

  </div>
</div>
