<form [formGroup]="OriginateForm" (ngSubmit)="onAddOriginateButton()">  
  <mat-horizontal-stepper formArrayName="formArray" linear>
    <mat-step formGroupName="0" [stepControl]="formArray.get([0])">
        <ng-template matStepLabel>Basic Info</ng-template>  
<mat-form-field class="example-full-width">
    <mat-select placeholder="TOWER" required formControlName="originateTower" >
      <mat-option *ngFor="let originateTow of originateTowerType" [value]="originateTow.value">
        {{originateTow.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>      
  <mat-form-field class="example-full-width">
    <input matInput autocomplete="off" placeholder="TITLE" required formControlName="originateTitle" [value]="originateData.OriginateTitle" >
    <mat-error>
      Title should be minimum of 15
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <textarea matInput autocomplete="off" #messagearea placeholder="DESCRIPTION" maxlength="256" required [value]="originateData.OriginateDesc"  formControlName="originateDescription" ></textarea>
    <mat-hint align="end">{{messagearea.value.length}} / 256</mat-hint>
    <mat-error *ngIf="OriginateForm.hasError('minlength',['originateDescription'])">
      <p>Description should be between 20 to 256 </p>
    </mat-error>
  </mat-form-field >
  <mat-form-field class="example-full-width">
    <mat-select placeholder="CATEGORY" required formControlName="originateCategory" >
      <mat-option *ngFor="let originateCat of originateCategoryType" [value]="originateCat.value">
        {{originateCat.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="example-full-width">
      <input matInput autocomplete="off" placeholder="Accenture POC " required formControlName="originateACNStakeholder">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput autocomplete="off" placeholder="Client POC " required formControlName="originateCLNStakeholder">
      </mat-form-field>            
  <mat-form-field class="example-full-width">
      <mat-select placeholder="Technology(Java,SQL..)" required formControlName="originateTechnology">
        <mat-option *ngFor="let tech of originateTechonologyType" [value]="tech.value">
          {{tech.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
</mat-step>
<mat-step formGroupName="1" [stepControl]="formArray.get([1])">
  <ng-template matStepLabel>Benefits Info</ng-template>
  <mat-form-field style="width: 45%">
    <mat-select placeholder="STATUS" required  formControlName="originateStatus" >
      <mat-option *ngFor="let originateStat of originateStatusType" [value]="originateStat.value">
        {{originateStat.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>           
  <mat-form-field class="date_wrap">
      <input matInput autocomplete="off"  [matDatepickerFilter]="myFilter" [matDatepicker]="pickerTo" placeholder="Target Date" required formControlName="originateETCDate">
      <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
      <mat-datepicker #pickerTo></mat-datepicker>
  </mat-form-field> 
  <mat-form-field style="width: 50%">
      <input matInput autocomplete="off" type="number" placeholder="Proposed CCI" required formControlName="proposedCCI">
    </mat-form-field>
    <mat-form-field >
        <input matInput autocomplete="off" type="number" placeholder="Approved CCI" required formControlName="approvedCCI">
      </mat-form-field>
  <mat-form-field style="width: 50%">
    <input matInput autocomplete="off" type="number" placeholder="Win % " required formControlName="originateProbability">
    <mat-error>
      Probability Should be < 100
    </mat-error>
  </mat-form-field>
  <mat-form-field >
    <input matInput autocomplete="off" type="number" placeholder="Estimate (MDs)" required formControlName="originateROMEstimate">
  </mat-form-field>
  <mat-form-field style="width: 50%">
    <input matInput autocomplete="off" type="number" placeholder="Revenue (AUD)" required formControlName="originateRevenue">
  </mat-form-field>    
  <mat-form-field >
      <mat-select placeholder="Approver"  formControlName="originateApprover">
        <mat-option *ngFor="let approv of originateApprover" [value]="approv.value">
          {{approv.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <textarea matInput autocomplete="off" #message placeholder="COMMENTS" maxlength="256" required formControlName="originateComments" ></textarea>
        <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
        <mat-error *ngIf="OriginateForm.hasError('minlength',['originateComments'])">
          <p>Comments should be between 20 to 256 </p>
        </mat-error>
      </mat-form-field >
</mat-step>
</mat-horizontal-stepper>             
  <button class="submit" type="submit" formcontrolName="submit" [disabled]="!OriginateForm.valid" mat-raised-button color="warn">SUBMIT</button>
</form>