<app-toolbar></app-toolbar>
<div>
  <mat-card class="sideNav col-md-2">
    <app-side-nav></app-side-nav>
  </mat-card>
</div>
<mat-card class="mainCard col-md-10">
  <router-outlet></router-outlet>
</mat-card>
