

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .message{
      color: white;
      margin-bottom: 10px;
      background:  darkcyan;
  }
 

  .wrapper{
    min-height: 100vh;
  }

  .submit{
    margin-top: 5px;
  }

  .example-radio-group {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
}

.example-radio-button {
  margin: 5px;
}

.example-selected-value {
  margin: 15px 0;
}
