<!-- <mat-card class="s"> -->
<!-- this is for message -->
<!-- <mat-card class="message">
    Add Ideas
  </mat-card> -->

<!-- this is for form -->
<mat-card>
  <mat-card class="message hidden">
    Add Ideas
  </mat-card>
  <form [formGroup]="ideaForm" (ngSubmit)="onIdeaSubmit()">
    <mat-form-field class="example-full-width">
      <input matInput autocomplete="off" placeholder="Email" required formControlName="email">
      <mat-error>
        Please enter a valid email address
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput autocomplete="off" type="number" placeholder="Employee ID" required formControlName="employeeID">
      <mat-error *ngIf="ideaForm.hasError('maxlength',['employeeID'])">
        Employee Id cannot be more than 10
      </mat-error>
      <mat-error *ngIf="ideaForm.hasError('minlength',['employeeID'])">
        Employee Id cannot be less than 8
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput autocomplete="off" placeholder="Title" required formControlName="title">
      <mat-error *ngIf="ideaForm.hasError('minlength',['title'])">
        title should be minimum of 8
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <textarea matInput autocomplete="off" #message maxlength="256" required formControlName="description" placeholder="Description"></textarea>
      <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
      <mat-error *ngIf="ideaForm.hasError('minlength',['description'])">
        <p>Description should be between 10 to 256 </p>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-select placeholder="TOWER" required formControlName="clientTowerType">
        <mat-option *ngFor="let clientTowerType of clientTowerTypes" [value]="clientTowerType.value">
          {{clientTowerType.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-select placeholder="Technology(Java,SQL..)" required formControlName="techs">
        <mat-option *ngFor="let tech of technology" [value]="tech.value">
          {{tech.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-radio-group class="example-radio-group" required formControlName="ideaType">
      <mat-radio-button class="example-radio-button" *ngFor="let typeOfIdea of typeOfIdeas" [value]="typeOfIdea">
        {{typeOfIdea}}
      </mat-radio-button>
    </mat-radio-group>

    <button class="submit" type="submit" [disabled]="!ideaForm.valid" mat-raised-button color="warn">Submit</button>
  </form>
</mat-card>

<!-- </mat-card> -->