.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  
  .mat-header-cell {
      font-size: 16px;    
      font-style: italic;    
      font-weight: 700;
  }
  
  .cdk-column-No {
    min-width: 50px;
    margin: 0 2px;
  }
  
  .cdk-column-COMMENT {
    min-width: 200px;
    margin: 0 2px;
  }
  
  .cdk-column-USER {
    min-width: 100px;
    margin: 0 2px;
  }
  
  .cdk-column-DATE {
    min-width: 100px;
    margin: 0 2px;
  }

  .mat-dialog-container {
    background: #585b72;
  }