/* You can add global styles to this file, and also import other style files */
/* @import "~bootstrap/dist/css/bootstrap.min.css";  */
@import "~@angular/material/prebuilt-themes/indigo-pink.css"; 
@import "~bootstrap/dist/css/bootstrap.min.css";


body, html {
    height: 100%;
    background-image: url("https://serving.photos.photobox.com/70645778c6a12844df557f788ce28d730832fe7d5f4fd408df40d664e9837809e4033432.jpg");
}


/* while showing the ideas data */
.show-idea .mat-dialog-container {
    color: white;
    width: 70vw;
    background: rgb(29, 134, 164);
}

.show-automation .mat-dialog-container {
    color: white;
    width: 50vw;
    background: rgb(29, 134, 164);
}

.graphs-dialog .mat-dialog-container {
    color: white;
    width: 70vw;
    height: 90vh;
    background: rgb(29, 134, 164);
}

.progress-dialog .mat-dialog-container{
    background: transparent;
}