<div class="container" style="padding:20px">
  <div class="row">
      <form [formGroup]="searchOriginateForm">
          <div class="col-md-3 filterCriteria">
            <mat-form-field class="example-full-width">
              <mat-select placeholder="Opportunity Tower" (ngModelChange)="OnTowerChange($event)" formControlName="originateTower">
                <mat-option *ngFor="let tower of originateTower" [value]="tower.value">
                  {{tower.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-3 filterCriteria">
            <mat-form-field class="example-full-width">
              <mat-select placeholder="Opportunity Category" (ngModelChange)="OnCatChange($event)" formControlName="originateCategory">
                <mat-option *ngFor="let category of originateCategory" [value]="category.value">
                  {{category.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-4 filterCriteria">
            <button mat-button color="primary" class="SearchAll" (click)="onSelectAll($event)">ALL</button>
          </div>
        </form>
  </div>
  <div class="row" style="margin:2px">
    <div class="col-md-10 exportCriteria" >
      <button mat-raised-button color="warn" (click)="ClickExcel()">Export as Excel</button>
      <button mat-raised-button color="warn" disabled="disabled" (click)="ClickPDF()">Export as PDF</button>
    </div>    
  </div>
  <div  class="row">
    <div class="col-md-5 dashboardpanel"  id="OriginateCategoryArea">
       <!-- <fusioncharts *ngIf="pieOriginCatData != null"  width="476" height="350" type="pie2d"  dataFormat="json"
        [dataSource]="pieOriginCatData">
      </fusioncharts>  -->
      <ngx-charts-tree-map *ngIf="pieOriginCatData && pieOriginCatData.length > 0" 
        [view]="view" [scheme]="originatecategoryscheme" [results]="pieOriginCatData"
        [gradient]="true"
       >
      </ngx-charts-tree-map>
      <div class="dashboardheader">
        Originate Category
      </div>
    </div>
    <div class="col-md-5 dashboardpanel" id="OrigCatStatusProbability" >
      <ngx-charts-bar-vertical-stacked *ngIf="origCatStatProbData && origCatStatProbData.length > 0" [view]="BAview" [scheme]="verStacScheme"
        [results]="origCatStatProbData" [gradient]="true" [xAxis]="true" [yAxis]="true" [legend]="true" [legendTitle]="BAlegendTitle"
        (select)="onBASelect($event)">
      </ngx-charts-bar-vertical-stacked>
      <div class="dashboardheader">
        Originate Category / Status - Probability
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 dashboardpanel" id="OrigCatStatusEstimate">
      <ngx-charts-advanced-pie-chart *ngIf="origCatStatEstData && origCatStatEstData.length > 0" [view]="view" [scheme]="colorscheme"
        [results]="origCatStatEstData" [gradient]="gradient" (select)="onStatusSelect($event)">
      </ngx-charts-advanced-pie-chart>
      <div class="dashboardheader">
        Originate Status
      </div>
    </div>
    <div class="col-md-5 dashboardpanel" id="OrigCatStatusRevenue">
      <ngx-charts-bar-vertical-2d *ngIf="origCatStatReveData && origCatStatReveData.length > 0" [view]="VTTview" [scheme]="WorkToolScheme"
        [results]="origCatStatReveData" [xAxis]="true" [yAxis]="true" [gradient]="false" [legend]="true" [legendTitle]="WTlegentTitle"
        (select)="onWTSelect($event)">
      </ngx-charts-bar-vertical-2d>
      <div class="dashboardheader">
        Originate Category / Status - Revenue
      </div>
    </div>
  </div>
</div>