.dashboardpanel
{
    margin:2px 2px;
    padding:2px;
    background: linear-gradient(#e9e9ed, #eef0f5);
    border: 2px solid rgb(28, 50, 107);
    border-radius: 5px;
}

.dashboardheader
{
    text-align: center;
    font-size: 22px;
    font-style: italic;
}

.filterCriteria
{
    border: black 2px solid;
    background-color: aliceblue;
    height: 60px;
}

.exportCriteria
{
    margin: 5px;    
    height: 50px;    
    padding: 5px;
}

.SearchAll
{
    float: right;
    margin: 5px;
    padding: 5px;
}
